.corDeCima{
    background-color: #ad59d5;
    height: 80px;
}

.corDoMeio{
    background-color: #652783;
    height: 40px;
}

.corPrimeiraNav{
    background-color: #ad59d5;
}

.corNav{ 
    background-color: #ad59d5;
}

.nav-item:hover .nav-link {
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.1);
}

.border-right{
    border-right: 1px solid transparent;
}

.border-bottom {
    border-bottom: 1px solid transparent;
}

.corMain{
    background: linear-gradient(to bottom, #652783, #ffffff);
}

.divLinhas{
    background-color: #ffffff;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    height: 300px;
}

.divInicial{
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.pInicial{
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px
}

.pMeioSo{
    font-size: 15px;
    margin-left: 50px;
    font-weight: bold;
}

.pMeio{
    font-size: 15px;
    margin-left: 50px
}

.fundoFooter{
    background-color: #ad59d5;
    
}
