.corDeCima{
    background-color: #ad59d5;
    height: 80px;
}

.corDoMeio{
    background-color: #652783;
    height: 40px;
}

.corPrimeiraNav{
    background-color: #ad59d5;
}

.corNav{ 
    background-color: #ad59d5;
}

.nav-item:hover .nav-link {
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.1);
}

.corMain{
    background: linear-gradient(to bottom, #652783, #ffffff);
}
.form-group {
    margin-bottom: 20px;
}

.corBotao{
    background-color: #652783;
}

.border-right{
    border-right: 1px solid transparent;
}

.border-bottom {
    border-bottom: 1px solid transparent;
}



.fundoFooter{
    background-color: #ad59d5;
    
    
}
